# Jupyter markdown
## Jupyter markdown
### Jupyter markdown
#### Jupyter markdown
##### Jupyter markdown
###### Jupyter markdown

- Point 1
   -  **sub point 1.1**
   - *Sub point 1.2*
   - ***sub point***
- Point 2
   *priyanka* is **bad**
- Point 3

### Python Introduction
- python 3
- python can be used as functional programmming
- python can be used as scripting programmming
- python intially designed by **Guido Van Rossum** in 1991

In [5]:
# input and output function
# output function
print( "Hello world")
print("Welcome to python")

Hello world
Welcome to python

In [11]:
print ("markdown cell", end = ' ')
print("code cell")

markdown cell code cell

In [13]:
# input function
print ("enter ur name:")
a= input(' ')
print("my name is",a)

enter ur name:
 sivaani
my name is sivaani

### inserting an image to markdown
![image](https://www.tollywood.net/wp-content/uploads/2019/10/MaheshBabu-1.jpg)

### inserting a site using markdown
[site](https://www.google.com/search?q=mahesh+babu&oq=mah&aqs=chrome.0.69i59l2j69i57j0l2j69i60l3.1256j0j7&sourceid=chrome&ie=UTF-8)

## Fundamental data types

1. int
2. float
3. complex
4. Boolean
5. string

In [14]:
#Basic example
x = 10
print(type(x))
print(x)

<class 'int'>
10

In [15]:
a = complex(5,4)
print(a)

(5+4j)

In [16]:
x = 3+4j
y = 9.25
z = 10
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'float'>
<class 'int'>

In [18]:
x = 3+4j
y = 9.25
z = 10
print(type(x),type(y),type(z))

<class 'complex'> <class 'float'> <class 'int'>

In [19]:
c1 = 5+6j #complex
c2 = 4+5j
print(c1+c2)
print(c1-c2)
print(c1*c2)
print(c1/c2)

(9+11j)
(1+1j)
(-10+49j)
(1.2195121951219514-0.02439024390243894j)

In [22]:
a = True #boolean
b = False 
a > b

True

In [27]:
a= 5
b= 5
a>b

False

In [28]:
#strings
s1 = "abc"
s2 = "xyz"
print(type(s1))
print(type(s2))

<class 'str'>
<class 'str'>

In [30]:
i ="100"
print(type(s1))

<class 'str'>

## data type conversions

In [33]:
i = 100
print(type(i))
s1 = str(i) #str converts input to string type
print(type(s1))
f1 = float(i)
print(type(f1))

<class 'int'>
<class 'str'>
100.0

In [34]:
s1 = "200"
print(type(s1))
b = int(s1)
print(type(b))
f= 3.5
a = int(f)
print(type(a))
print(a)

<class 'str'>
<class 'int'>
<class 'int'>
3

In [36]:
# A number is given 23546
# digit count
s = 23456
print(len(str(s)))

5

## operators
1. arithmetic operators ----> +,*,/,//,%,**
2. logical operators ----> and, or ,not
3. relational operators ---> <,>,<=,>=,=,!=
4. membership operators ----> in, not in

In [38]:
#arithmetic
x= 30
y = 10
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x**y)
print(x%y)

40
20
300
3.0
3
590490000000000
0

In [43]:
#relational operators
x = 30
y = 10
print(x == y)
print(x != y)
print(x < y)
print(x > y)
print(x <= y)
print(x >= y)

False
True
False
True
False
True

In [47]:
#logical operators
x = 20
y = 30
print(x>=10 and x<=20)
print(x>=5 and x<=20)
print(not x)

True
True
False

In [50]:
#membership operators
str1 ="abc"
print('a' in str1)
print('a' not in str1)
print('d' not in str1)

True
False
True

## conditonal statements
### 1. if
### 2. elif
### 3. else

## syntax
* #### if condition:
##### statements

* #### elif condition
##### statements

* #### else
##### statements

In [55]:
#even or odd
n = int(input("enter a number"))
if n%2 ==0:
    print("even")
else:
    print("odd")

enter a number4
even

In [57]:
#multiple of  3 and 5
n = int(input("enter a number"))
if n%3 == 0 and n%5 == 0:
    print("yes")
else:
    print("no")

enter a number9
no

In [60]:
#postive,negative or zero
n = int(input("enter a number"))
if (n>0):
    print("postive")
elif(n==0):
    print("zero")
else:
    print("negative")

enter a number-10
negative

In [63]:
n = int(input("enter a year"))
if n%4 == 0:
    print("leap year")
else:
    print("not a leap year")

enter a year2012
leap year

In [65]:
#eligible to vote or not
n = int(input("enter age"))
if n>=18:
    print("eligible")
else:
    print("not eligible")

enter age18
eligible